.item {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.item h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #005f73;
  font-size: 1.25rem;
}
.item {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.item h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #0a9396;
  border: 1px solid #0a9396;
  color: white;
  /* padding: 0.25rem 2rem; */
  border-radius: 20px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
}

.button.remove {
  background-color: rgb(219, 43, 43);
  border: 1px solid rgb(219, 43, 43);
}
